{% extends 'learning_logs/base.html' %}
{% load bootstrap3 %}

{% block header %}
  <h2><a href="{% url 'learning_logs:topic' topic.id %}">{{ topic }}</a><small> - Edit entry:</small></h2>

{% endblock header %}

{% block content %}

    <form action="{% url 'learning_logs:edit_entry' entry.id %}" method='post' class='form'><!--实参action将表单发挥给函数edit_entry()进行处理。在标签\{\% url \%\}中将条目ID作为一个实参,让视图对象能够修改正确的条目对象-->
      {% csrf_token %}
      {% bootstrap_form form %}<!--替换\{{ form.as_p }\}-->

      {% buttons %}
      	<button name="submit" class='btn btn-primary'>save changes</button>
      {% endbuttons %}
    </form>

{% endblock content %}



    
  
  
    