<!--子模板的第一行必须包含标签 \{\% extends \%\} ，让Django知道它继承了哪个父模板。这行代码导入模板base.html的所有内容，让index.html能够指定要在 content 块预留的空间中添加的内容。注意：前面加了转义符反斜杠，不加Django会对此解析，但由于是在html注释里，就会报错;一开始还以为注释不能放第一行,结果放第2行仍错,转义了才不报错-->
{% extends 'learning_logs/base.html' %}

{% block header %}
  <div class='jumbotron'>
  	<h1>Track your learning <em>with ease</em>.</h1>
  </div>
{% endblock header %}

{% block content %}
  <h2>
  	<a href="{% url 'users:register' %}">Register an account</a> to make your own Learning Log, and list the topics you're learning about.
  </h2>
  <h2>Whenever you learn something new about a topic, make an entry summarizing what you've learned.</h2>
{% endblock content %}